<%inherit file='base.html'/>

<%block name='title_block' filter='trim'>
  ${doc.title}
</%block>

<%block name='extrahead'>
<style>
  .nav {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  img {
    border: 1px solid gray;
  }
  hr {
    border: 2px dashed gray;
    margin: 4rem 0;
  }
  .slides {
    margin-bottom: 5rem;
    font-size: 2rem;
  }
</style>
</%block>

<div class='nav'>
  <a href='${ROOT}'>Home</a>
  |
  <a href='slides/'>View slideshow</a>
</div>

<div class='slides'>
${doc.get_lesson_html()}
</div>
